input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}
body{
    margin: 0;
    padding: 0;
    background: #14213D;
    font-family: Arial, Helvetica, sans-serif;
}

/*setup*/
.container{
    transform: scale(1);
    margin: auto;
    margin-top: 2em;
    padding: 1em;
    width: 25%;
    min-width: 10cm;
    color: #E5E5E5;
    border-radius: 20px;
    font-size: 1.5em;
}
#setup{
    transform: translateY(0) scale(1);
    background: #263963;
    transition: 1s;
}
#setup h3{
    margin:0;
    margin-bottom: 0.9em;
    color: #E5E5E5;
}
#setup p{
    text-align: left;
    margin:0.25em 0;
    line-height: 150%;
}
#setup p input{
    display: inline;
    background: #fff2;
    width: 2em;
    text-align: center;
    color:#FCA311;
    border: none;
    outline: none;
    padding: 6px 4px;
    font-size: 1.1rem;
    font-weight: bolder;
    transition: 0.25s;
}
#setup p input:focus{
    padding: 6px 6px;
    background: #fff4;
}
#setup button{
    display: block;
    margin: 1em auto;
    margin-bottom: 0;
    background: #FCA311;
    color: #E5E5E5;
    border-radius: 0;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 5px 20px;
    transition: 0.25s;
}
#setup button:hover{
    background: #cc820c;
}
#errorBox{
    display: block;
    position: absolute;
    top: 80%;
    left: 0;
    margin-top: 10px;
    padding: 10px 0;
    width: 100%;
    color:#ff0;
    background: #ca0000;
    text-align: center;
    opacity: 0;
    transition: 1s;
    z-index: -1;
}

/*running*/
#running{
    display: none;
    transform: translateY(-130%) scale(0);
    flex-direction: column;
    text-align: center;
    transition: 1s;
}
#running div{
    margin: 5px;
}
#running #show{
    background: #263963;
    display: flex;
    flex-direction: column; 
}
#running #show #time{
    font-size: 3em;
    margin: 0.5em 0 0 0;
    font-family: 'Play', sans-serif;
}
#running #show #sessionType{
    font-size: 1em;
    margin: 0.25em 0 0.5em 0;
    padding: 0;
}
#running #buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#running button{
    background: #263963;
    border: none;
    outline: none;
    color: #E5E5E5;
    padding: 10px 30px;
    width: 50%;
    font-size: 0.8em;
    transition: 0.2s;
}
#running button:hover{
    background: #E5E5E5;
    color: #263963;
    opacity: 0.7;
}
#running button:active{
    font-weight: lighter;
    box-shadow: 0 0 5px 4px #E5E5E5;
}
#running #skip{
    margin-left: 10px;
}